
.hotel-card {
  height: 156px;

  .content {
    .name {
      margin-bottom: 0;
    }
    .description {
      font-size: 14px;
      max-height: 45px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .info {
      margin-left: 4px;
      font-size: 14px;
      text-decoration: underline;
    }
  }
}