.summary {
  .header {
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
    color: $timeline-text-color;
    margin-left: calc(16.67% - 118px);
  }

  .divider {
    margin-bottom: 0;
  }

  .timeline {
    height: calc(100vh - 90px - #{$navtabs-height});
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .continue-button {
    margin-right: 20px;
  }

  &.finish {
    .header {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .timeline {
      height: calc(100vh - 76px - #{$navtabs-height});
    }
  }
}