{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "google": true,
    "Promise": true,
    "Map": true,
    "SERVER_URL": true,
    "HISTORY_TYPE": true,
    "BASE_NAME": true
  },
  "rules": {
//    "quotes": [2, "single"],
    "strict": [2, "never"],
    "no-console":0
  }
}
