
.flight-card {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;

  &.small {
    .side {
      padding-left: 0;
    }
    .company-name {
      font-size: 24px;
    }
    .price {
      margin-bottom: 0;
    }
    .left {
      padding-right: 0;
    }
    .right {
      padding-left: 0;
    }
    .middle {
      display: none;
    }
  }

  .middle {
    padding: 0;
  }
}