
.car-header {
  h3, button {
    margin-bottom: 0;
  }
  +hr {
    margin-top: 10px;
  }
}

.cars-search {
  .filtering {
    height: calc(100vh - 117px - #{$navtabs-height});
    overflow-y: auto;

    fieldset {
      position: relative;
    }

    .max-pass-check {
      position: absolute;
      top: 6px;
      margin: 0;
      left: 112px;
    }
  }

  .cars-list-wrap {
    padding-right: 0;

    ul {
      margin-left: 0;
      height: calc(100vh - 160px - #{$navtabs-height});
      overflow-y: auto;
      padding-right: 16px;
    }
  }

  .days {
    input {
      width: 77px;
      margin-left: 16px;
    }
  }

  .selection {
    .clear {
      margin-top: 5px;
    }
  }

  .select {
    .form-error {
      top: 70px;
    }
    .options {
      width: 100%;
    }
  }
}