.flight-page {
  .flights-search {
    .flights-results {
      padding: 0;
    }

    .flights-list {
      margin-left: 0;
      height: calc(100vh - 183px - #{$navtabs-height});
      overflow-y: auto;
      padding-left: 0;
      padding-right: 15px;
    }

    .selected-flight {
      padding-right: 0;
    }
  }
}