
.card {
  position: relative;
  border: 1px dashed #bbb;
  margin-left: 0 !important;
  margin-right: 0 !important;

  &.last {
    margin-bottom: 0;
  }

  &.selected {
    border: 2px solid $success-color !important;
    > .price {
      content: 'Selected';
      background-color: $success-color;
    }
  }

  &:hover {
    border: 1px solid $success-color;
    cursor: pointer;
    >.price {
      background-color: $success-color;
    }
  }

  img {
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    background-color: #ddd;
  }

  .sk-circle {
    margin-top: -80px;
    margin-left: 40px;
  }

  .image-wrap {
    min-width: 132px;
    padding-left: 0;
  }

  .content {
    padding-left: 0;
  }

  >.price {
    max-width: 77px;
    min-width: 77px;
    color: white;
    background-color: #ddd;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 0 4px 0;
    overflow: hidden;

    &.days {
      max-width: 100%;
      min-width: 180px;
    }

    .calc {
      font-size: 12px;
    }
  }
}