
.timeline {
  $side-min-width: 120px;

  .line {
    position: absolute;
    width: 2px;
    background-color: $timeline-back-color;
    left: calc(16.67% - 36px);
  }

  .category {
    &.last {
      .item.last {
        .line.bottom {
          display: none;
        }
      }

      &.no-items {
        .line {
          display: none;
        }
      }
    }

    .title {
      width: 100%;
      position: relative;

      .side {
        min-width: $side-min-width;

        .date {
          color: $timeline-text-color;
          text-align: center;
          float: right;
          margin-top: -5px;

          .day {
            font-size: 24px;
          }
          .month {
            margin-top: -10px;
          }
        }

        .icon {
          min-width: 40px;
          min-height: 40px;
          float: right;
          padding: 8px;
          color: #fff;
          background-color: $timeline-back-color;
          border-radius: 50%;
          margin-left: 20px;
        }
      }

      .content {
        .name {
          float: left;
          color: $timeline-text-color;
          font-size: 32px;
          margin-top: -4px;
        }
        .secondary {
          float: left;
          color: rgba(0, 0, 0, .54);
          margin-top: 10px;
          margin-left: 16px;
        }
      }

      .line {
        height: calc(100% - 39px);
        bottom: 0;
      }
    }

    .item {
      $icon-margin-top: 14px;
      width: 100%;
      position: relative;
      padding-bottom: 10px;

      .side {
        min-width: $side-min-width;

        .icon {
          min-width: 28px;
          min-height: 28px;
          float: right;
          padding: 4px;
          font-size: 18px;
          color: $timeline-back-color;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid $timeline-back-color;
          margin-right: 6px;
          margin-top: $icon-margin-top;
        }
      }

      .content {
        padding-top: 10px;
      }

      .actions {
        padding-top: 10px;
        padding-left: 0;

        .edit {
          padding: 5px 15px 10px 10px;
          background-color: #FFF;
          border: 1px solid $timeline-back-color;
          color: $timeline-text-color;
          font-size: 20px;
          transition: all 0.1s ease-in-out;

          i {
            margin-right: 10px;
          }

          &:focus, &:hover {
            background-color: $timeline-back-color;
            color: #fff;
          }

          &:active {
            border-color: lighten($timeline-back-color, 25%);
            background-color: lighten($timeline-back-color, 25%);
            box-shadow: inset 0 0 4px 1px rgba(0,0,0,0.75);
          }
        }

        .remove {
          cursor: pointer;

          i {
            float: left;
            font-weight: 700;
            margin-top: 2px;
          }

          div {
            float: left;
            font-size: 14px;
            color: rgba(0, 0, 0, .54);
            margin-left: 5px;
          }
        }
      }

      &.last {
        padding-bottom: 20px;
      }

      .line.top {
        height: $icon-margin-top;
        top: 0;
      }

      .line.bottom {
        height: calc(100% - #{$icon-margin-top} - 27px);
        bottom: 0;
      }

      .card {
        border: 1px solid $timeline-back-color;

        > .price {
          background-color: $timeline-back-color;
        }
      }
    }
  }
}