@import '../node_modules/foundation-sites/assets/foundation';
@import '../node_modules/mdi/css/materialdesignicons.css';

@include foundation-everything;

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(10);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

$navtabs-height: 85px;

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}

.height-100 {
  height: 100%;
}

.nav-tabs {
  height: calc(100% - #{$navtabs-height});
  overflow: hidden;
}

.load-progress {
  margin-top: -16px;
  margin-bottom: 0;
}

.inline {
  display: inline-block;
}

.inline-button {
  margin-bottom: 0;
  margin-top: 24px;
  width: 100%;
}

.select {
  .form-error {
    position: absolute;
  }
}

.flights-search {
  .flights-results {
    padding: 0;
  }

  .flights-list {
    height: calc(100vh - 183px - #{$navtabs-height});
    overflow-y: auto;
    padding-left: 0;
    padding-right: 15px;
  }

  ul {
    margin-left: 0;
  }

  .selected-flight {
  }
}

.flight-card {
  z-index: 9999 !important;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;

  &.small {
    .side {
      padding-left: 0;
    }
    .company-name {
      font-size: 24px;
    }
    .price {
      margin-bottom: 0;
    }
    .left {
      padding-right: 0;
    }
    .right {
      padding-left: 0;
    }
    .middle {
      display: none;
    }
  }

  &:hover {
    border-color: green;
    cursor: pointer;
  }

  .middle {
    padding: 0;
  }
}

.sort {
  margin-left: 20px;
  cursor: pointer;

  .disabled {
    color: rgba(0, 0, 0, .54);
  }
}