@import '../node_modules/foundation-sites/assets/foundation';
@import '../node_modules/mdi/css/materialdesignicons.css';

@include foundation-everything;

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(10);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

$navtabs-height: 85px;

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}

.height-100 {
  height: 100%;
}

.nav-tabs {
  height: calc(100% - #{$navtabs-height});
  overflow: hidden;
}

.load-progress {
  margin-top: -16px;
  margin-bottom: 0;
}

.inline {
  display: inline-block;
}

.inline-button {
  margin-bottom: 0;
  margin-top: 24px;
  width: 100%;
}

.select {
  position: relative;

  .form-error {
    position: absolute;
  }

  .options {
    z-index: 9999;
    color: #000 !important;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-top: none;
    background-color: #FFF;
    margin-top: -16px;
    width: calc(100% - 30px);
    position: absolute;

    .item {
      padding-left: 8px;
      &:hover {
        background-color: #BBB;
        cursor: pointer;
      }
      &.search {
        background-color: #E3F2FD;
      }
    }
  }
}

.flights-search {
  .flights-results {
    padding: 0;
  }

  .flights-list {
    margin-left: 0;
    height: calc(100vh - 183px - #{$navtabs-height});
    overflow-y: auto;
    padding-left: 0;
    padding-right: 15px;
  }

  .selected-flight {
  }
}

.flight-card {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;

  &.small {
    .side {
      padding-left: 0;
    }
    .company-name {
      font-size: 24px;
    }
    .price {
      margin-bottom: 0;
    }
    .left {
      padding-right: 0;
    }
    .right {
      padding-left: 0;
    }
    .middle {
      display: none;
    }
  }

  &.selected {
    border: 2px solid $success-color;
  }

  &:hover {
    border-color: $success-color;
    cursor: pointer;
  }

  .middle {
    padding: 0;
  }
}

.sort {
  margin-left: 20px;
  cursor: pointer;

  .disabled {
    color: rgba(0, 0, 0, .54);
  }
}

.hotels-search {
  .sort {
    h5 { font-size: 16px; }
  }

  .map-wrap {
    height: calc(100vh - 120px - #{$navtabs-height});
    padding-right: 0;
  }

  .hotels-list {
    margin-left: 0;
    height: calc(100vh - 207px - #{$navtabs-height});
    overflow-y: auto;
    padding-left: 0;
    padding-right: 15px;
    &.selected { height: calc(100vh - 437px - #{$navtabs-height}); }
  }

  .selection-hr {
    margin-bottom: 10px;
  }
}

.hotel-card {
  position: relative;
  border: 1px dashed #bbb;
  height: 156px;
  margin-left: 0 !important;
  margin-right: 0 !important;

  &.last {
    margin-bottom: 0;
  }

  &.selected {
    border: 2px solid $success-color !important;
    img { max-height: 120px; }
    .price {
      content: 'Selected';
      background-color: $success-color;
    }
  }

  &:hover {
    border: 1px solid $success-color;
    cursor: pointer;
    .price {
      background-color: $success-color;
    }
  }

  .image {
    padding-left: 0;
  }

  .content {
    padding-left: 0;
    .name {
      margin-bottom: 0;
    }
    .description {
      font-size: 14px;
    }
  }

  .price {
    max-width: 77px;
    min-width: 77px;
    color: white;
    background-color: #ddd;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px 16px 4px 16px;
  }
}