@import '../node_modules/foundation-sites/assets/foundation';
@import '../node_modules/mdi/css/materialdesignicons.css';

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(10);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}

.height-100 {
  height: 100%;
}

.nav-tabs {
  height: calc(100% - 85px);
}