@import '../node_modules/foundation-sites/assets/foundation';
@import '../node_modules/mdi/css/materialdesignicons.css';

@include foundation-everything;

// Color used for medium gray UI items within Foundation.
$medium-gray: #cacaca;

// the following variable should be adjusted in the _settings.scss file
// changes the fonts size and circle size
$pagination-font-size: rem-calc(10);

// the following variable should be adjusted in the _settings.scss file
// changes roundness based on font size
$pagination-item-padding: rem-calc(6 15);

$navtabs-height: 85px;

button {
  outline: none;
}

.reveal-overlay {
  overflow: auto;
}

.reveal {
  margin-bottom: 100px;
}

.pagination li {
  border: 1px solid $medium-gray;
  border-radius: 50%;
}

.pagination a {
  border-radius: 50%;
}

.height-100 {
  height: 100%;
}

.nav-tabs {
  height: calc(100% - #{$navtabs-height});
  overflow: hidden;
}

.inline {
  display: inline-block;
}

.inline-button {
  margin-bottom: 0;
  margin-top: 24px;
  width: 100%;
}

.continue-button {
  width: 125px;
}

@import './components/IconButton/icon-button';
@import './components/Card/card';
@import './components/Sort/sort';
@import './components/FlightCard/flight-card';
@import './components/HotelCard/hotel-card';
@import './components/CarCard/car-card';
@import './components/HotelInfo/hotel-info';
@import './components/Progress/progress';
@import './components/Select/select';
@import './components/Spinner/spinner';

@import './containers/Flight/flight';
@import './containers/Hotel/hotel';
@import './containers/Car/car';
@import './containers/Phase4/phase4';
@import './containers/Summary/summary';